.row
	.col-md-6.col-md-offset-3
		- @routes.each do |route|
			.api-call class="api-call-#{route[0]}"
				span.api-method class="api-method-#{route[0]}" #{route[0].upcase}
				span.api-path class="api-path-#{route[0]}" #{route[1]}
