.row
	.col-md-4.col-md-offset-4
		form action="/users/#{@user.id}" method='post' role='form'
			input type="hidden" name="_method" value="PUT"
			.form-group
				label Name
				input.form-control name='user[name]' type='text' placeholder='Enter name' required='required' value="#{@user.name}"
			.form-group
				label Email
				input.form-control name='user[email]' type='email' placeholder='Enter email' required='required' value="#{@user.email}"
			.form-group
				label Password
				input.form-control name='user[password]' type='password' placeholder='Enter password' required='required'
			.form-group
				input.btn.btn-primary type='submit' value='Save'