doctype html
html
	head
		title Snippy
		meta charset="utf-8"
		link rel="stylesheet" href="/css/bootstrap.css"
		link rel="stylesheet" href="/highlight/styles/github.css"
		link rel="stylesheet" href="/css/snippy.css"
		script src="/js/jquery-2.0.3.min.js"
		script src="/highlight/highlight.pack.js"
		script hljs.initHighlightingOnLoad();
		javascript:
			$(document).ready(function(){
				setTimeout(function() {
					$(".alert").delay(4000).fadeOut();
			}, 5000)});
	body
		nav.navbar.navbar-default role="navigation"

			.container
				/! Brand and toggle get grouped for better mobile display
				.navbar-header
				button.navbar-toggle data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"
					span.sr-only Toggle navigation
				a.navbar-brand href="/" Snippy

				/! Collect the nav links, forms, and other content for toggling
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a href="/users" Users
						li
							a href="/snippets" Snippets
						- if @current_user
							li
								a href="/snippets/new" Post snippet
					ul.nav.navbar-nav.pull-right
						- if @current_user
							li
								p.navbar-text
									| Logged in as
									a.margin-left-small href="/users/#{@current_user.id}" #{@current_user.name}
							li
								a href="/logout" Logout
						- else
							li
								a href="/login" Login
							li
								a href="/users/new" Register

		.container
			- if env['x-rack.flash'].success != nil
				.alert.alert-dismissable.alert-info
					== env['x-rack.flash'].success
			- if env['x-rack.flash'].error != nil
				.alert.alert-dismissable.alert-danger
					== env['x-rack.flash'].error
			== yield
