.row
	.col-md-6.col-md-offset-3
		form action='/snippets' method='post' role='form'
			.form-group
				label Snippet
				textarea.form-control name='snippet[body]' type='text' placeholder='Enter snippet' required='required' rows='10'
			.form-group
				label Language
				input.form-control name='snippet[language]' type='text' placeholder='Choose language'
			.form-group
				input.btn.btn-primary type='submit' value='Post'