.row
	.col-md-4.col-md-offset-4
		form action='/users' method='post' role='form'
			.form-group
				label Name
				input.form-control name='user[name]' type='text' placeholder='Enter name' required='required'
			.form-group
				label Email
				input.form-control name='user[email]' type='email' placeholder='Enter email' required='required'
			.form-group
				label Password
				input.form-control name='user[password]' type='password' placeholder='Enter password' required='required'
			.form-group
				input.btn.btn-primary type='submit' value='Register'