.row
	.col-md-6.col-md-offset-3
		a.margin-right-small href="/snippets/#{@snippet.id}" ##{@snippet.id}
		label #{@snippet.created_at.strftime("%d. %b %Y. %H:%M")} by
		a.margin-left-small href="/users/#{@user.id}" #{@user.name}
		- if @current_user and @current_user.id == @snippet.user_id
			form.buttons action="/snippets/#{@snippet.id}" method="post" role="form"
				input type="hidden" name="_method" value="DELETE"
				a.btn.btn-warning rel="nofollow" href="/snippets/#{@snippet.id}/edit" Edit
				input.btn.btn-danger type="submit" value="Delete"
		pre.code-snippet
			code
				|
					#{@snippet['body']}