.row
	.col-md-6.col-md-offset-3
		.user-info
			h3
				a href="/users/#{@user.id}" #{@user.name} (##{@user.id})
			h4
				p email: #{@user.email}
			h5
				p User since #{@user.created_at.strftime("%d. %b %Y. %H:%M")}
			h5
				a href='/users/#{@user.id}/snippets' Snippets
			- if @current_user and @current_user.id == @user.id
				form.buttons action="/users/#{@user.id}" method="post" role="form"
					input type="hidden" name="_method" value="DELETE"
					a.btn.btn-warning rel="nofollow" href="/users/#{@user.id}/edit" Edit
					input.btn.btn-danger type="submit" value="Delete"
