pre.code-snippet {
	padding: 0;
	background-color: 0;
	border: none;
	margin-bottom: 50px;
}

pre.code-snippet code {
	border-radius: 4px;
	border: 1px solid rgb(204, 204, 204);
	padding: 10px;
}

.user-info {
	border-radius: 4px;
	border: 1px solid rgb(204, 204, 204);
	padding: 10px;
	margin-bottom: 20px;
	background-color: #f8f8f8;
}

span.logged-in {
	color: #333333;
}

form.buttons {
	text-align: right;
	margin-bottom: 5px;
	margin-top: -30px;
}

form.buttons input {
	height: 30px;
	width: 70px;
}

form.buttons a {
	margin-right: 5px;
	height: 30px;
	width: 70px;
}

.margin-right-small {
	margin-right: 5px;
}

.margin-left-small {
	margin-left: 5px;
}

.api-call {
	margin: 10px;
	font-size: 1.1em;
	border-radius: 3px;
}

.api-call-get {
	background-color: #dff0d8;
	color: #468847;
}

.api-call-post {
	background-color: #d9edf7;
	color: #3a87ad;
}

.api-call-put {
	background-color: #fcf8e3;
	color: #c09853;
}

.api-call-delete {
	background-color: #f2dede;
	color: #b94a48;
}

.api-method {
	width: 80px;
	padding: 10px;
	border-radius: 3px;
	display: inline-block;
	color: white;
}

.api-method-get {
	background-color: #468847;
}

.api-method-post {
	background-color: #3a87ad;
}

.api-method-put {
	background-color: #c09853;
}

.api-method-delete {
	background-color: #b94a48;
}

.api-path {
	width: 200px;
	padding: 10px;
	display: inline-block;
}